<article class="comic" *ngIf="mode === 'PAT'">
    <div class="panel">
        <p class="text top-left">Gloomy day...</p>
        <p class="text bottom-right">...not feeling well</p>
    </div>

    <div class="panel">
        <p class="text top-left">Try resizing...</p>
        <p class="text bottom-right">...it's responsive</p>
    </div>
    <div class="panel">
        <p class="left-speech">Doctor.. I need Doctor</p>
        <p class="right-speech">Doctor.. I need Doctor</p>
    </div>
    <div class="panel"></div>
    <div class="panel"></div>
    <div class="panel"></div>
    <div class="panel"></div>
    <div class="panel"></div>
    <div class="panel">
        <p class="text bottom-right">THE END</p>
    </div>
</article>

<article class="comic" *ngIf="mode === 'DOC'">
    <div class="panel">
        <p class="text top-left">Busy day...</p>
        <p class="text bottom-right">...Too many patients</p>
    </div>

    <div class="panel">
        <p class="text top-left">Try resizing...</p>
        <p class="text bottom-right">...it's responsive</p>
    </div>
    <div class="panel">
        <p class="left-speech">Doctor.. I need Doctor</p>
        <p class="right-speech">Doctor.. I need Doctor</p>
    </div>
    <div class="panel"></div>
    <div class="panel"></div>
    <div class="panel"></div>
    <div class="panel"></div>
    <div class="panel"></div>
    <div class="panel">
        <p class="text bottom-right">THE END</p>
    </div>
</article>