<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Search Registered User</h4>
    </div>
    <div class="panel-body">
        <div class="container-fluid">
            <form class="form-horizontal" [formGroup]="form" (submit)="onSubmit()">
                <div class="form-group">
                    <label class="control-label">Enter User Id</label>
                    <input type="email" class="form-control" id="email" formControlName="userId" placeholder="User Id" />
                    <label class="control-label">Name</label>
                    <input type="email" class="form-control" id="email" formControlName="name" placeholder="User Id" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary pull-right" [disabled]="!form.valid"><i class="fa fa-check-circle"></i> Register</button>
                </div>
            </form>
        </div>
        <div class="alert alert-danger" *ngIf="hasError" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span [innerHTML]="errMsg"></span>
        </div>
    </div>
</div>