<form [formGroup]="form" (submit)="onSubmit()">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail">
                <div class="caption bg-primary">Search Registered User</div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">UserId</label>
                            <input type="text" class="form-control" id="userId" formControlName="userId" placeholder="User Id" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Phone Number</label>
                            <input type="text" class="form-control" id="mobile" formControlName="mobile" placeholder="mobile" />
                        </div>
                    </div>
                </div>

                <div class="alert alert-danger" *ngIf="hasError" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span [innerHTML]="errMsg"></span>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div style="height:50px;">
                            <button class="btn btn-primary pull-right" [disabled]="!form.valid"><i class="fa fa-search"></i> Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row" *ngIf="searchRecord && searchRecord['userId']">
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            <div class="caption bg-primary">Search Results</div>
            <div class="container-fluid">
                <div class="table-responsive">
                    <table class="table table-striped table-condensed">
                        <tr *ngFor="let clinic of searchRecord.clinic; let i=index">
                            <td style="text-align: center" style="width:200px" rowspan="6" *ngIf="i===0">
                                <img [src]="searchRecord['profileUrl']| profileImg " alt="Avatar " class="img-rounded">
                                <p [innerHTML]="searchRecord['userId']" class="bg-success"></p>
                                <p [innerHTML]="searchRecord['fullName']" class="bg-success"></p>
                            </td>
                            <td>
                                <span [innerHTML]="clinic.name"></span><br>
                                <span [innerHTML]="clinic.address"></span><br>
                                <span [innerHTML]="clinic.city + ' - ' + clinic.pin + ' ' +clinic.state "></span><br>
                                <span [innerHTML]="'Contact : '+clinic.contact"></span><br><br>
                                <span [innerHTML]="'Open From : '+clinic.openTime"></span><br>
                                <span [innerHTML]="'Open Till : '+clinic.endTime"></span><br>
                                <span [innerHTML]="'Open Days : '+clinic.openDay"></span>
                            </td>
                            <td rowspan="6" *ngIf="i===0">
                                <div *ngIf="connectionMode === 'connected'" class="btn btn-primary pull-right"><i class="fa fa-search"></i> Active</div>
                                <div *ngIf="connectionMode === 'not-connected'" class="btn btn-primary pull-right"><i class="fa fa-search"></i> Connect</div>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>