<div class="col-md-3 col-sm-12 pull-right" *ngIf="isActive">
    <div class="thumbnail">
        <div class="caption bg-primary">User Profile</div>
        <img [src]="details['profileImgUrl'] | profileImg " alt="Avatar" class="img-circle ">
        <p class="bg-info"><i class="fa fa-id-card fa-fw"></i> {{details['userId']}}</p>
        <p class="bg-info"><i class="fa fa-user-circle  fa-fw"></i> {{details['fullName']}} </p>
        <p class="bg-info"><i class="fa fa-envelope  fa-fw"></i> {{details['email']}} </p>
        <p class="bg-info"><i class="fa fa-registered  fa-fw"></i> Registered On {{details['registeredOn'] | date : shortDate}}</p>
        <p class="bg-info"><i class="fa fa-database fa-fw"></i> Used {{details['usedSpace']}}mb of {{details['diskSpace']}}mb </p>
        <p class="bg-info"><i class="fa fa-bar-chart fa-fw"></i> {{details['addOn'] }} </p>
        <p class="bg-info"><i class="fa fa-barcode fa-fw"></i> From {{details['startFrom'] | date : shortDate}} to {{details['expiresOn'] | date : shortDate}}</p>
    </div>

</div>